<!DOCTYPE html>
<html>
<head>
<title>GeoLocation Using HTML5</title>
<style>
#mapdiv {
	margin: 0;
	padding: 0;
	width: 500px;
	height: 500px;
}
</style>

</head>
<body>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>

</body>
</html>